#IGNORE EVERYTHING
*

#IGNORE SUBFOLDERS TOO
!*/


#EXEPT THIS FOLDERS



#EXEPT THIS FILES
!.gitignore
!README.md
!delivery.pdf

#SOURCE FILE
!project/omnetpp.ini
!project/Queue.cc
!project/Queue.ned
!project/Source.cc
!project/Source.ned
!project/Sink.cc
!project/Sink.ned
!project/Net.ned
!project/Mail.msg

#RESOURCES FOLDER AND ANALYSIS
!analysis/*

